.messageblock {
    margin: 10px;
    /* border: 2px solid black; */
    padding: 5px;
}

.username {
    font-size: 15px;
    color: #5A18C9;
}

.content {
    font-size: 25px;
}

.time {
    position: relative;
    color: #190934;
}

.newmessage {
    margin-left: 10px;
}
