.wrapper {
    display: grid;
	font-family: Arial, sans-serif;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
	"header"
	"sidebar"
	"article";
}

.wrapper > * {
	padding: 1em;
}

.header {
    display: grid;
    grid-template-columns: auto;
}

header {
	background: #236AB9;
	grid-area: header;
    color: #e7f3ef;
}
aside {
	background: #D4E4F7;
	grid-area: sidebar;
    color: #190934;
}
article {
	grid-area: article;
    background: #D4E4F7;
    color: #190934;
    border-left: none;
    border-top: 2px solid #236AB9;
}
.roomlist {
    cursor: pointer;
}

@media (min-width: 650px) {
	.wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto;
		grid-template-areas:
        "header header header header"
		"sidebar article article article";
	}
    article {
        border-top: none;
        border-left: 2px solid #236AB9;
    }
}

@media (min-width: 1000px) {
	.wrapper {
		grid-template-areas:
		"header header header header"
		"sidebar article article article";
	}
    article {
        border-top: none;
        border-left: 2px solid #236AB9;
    }
}
