.title {
    padding: 5px;
    background-color: gray;
    color: blue;
    font-size: 30px;
}

.title .signIn {
    cursor: pointer;
}

.signin {
    position: absolute;
    top: 45px;
    right: 0px;
}

.list {
    padding: 10px;
    color: green;
    width: 180px;
    height: 800px;
    background-color: #99ffcc;
    cursor: default;
}

.list .rooms {
    cursor: pointer;
}

.messages {
    position: absolute;
    background-color: #e6e6e6;
    left: 200px;
    top: 137px;
    width: 1230px;
    height: 800px;
    padding: 7px;
}
